//////////////////////////////////////
// NAVIGATION ////////////////////////
// Author: Ariel Jatib ///////////////
//////////////////////////////////////

#specification {
	background-color: $light-gray;
	padding: 10px;
	overflow: hidden;
}

nav {
	width: 200px;
	padding: 10px;
	float: left;
	a {
		text-decoration: none;
	}
}

#content nav li {
	list-style-type: none;
}

//////////////////////////////////////
// RESPONSIVE ////////////////////////
// Only tablets for now

@media (max-width: 767px) { 
}