//////////////////////////////////////
// NAVIGATION ////////////////////////
// Author: Ariel Jatib ///////////////
//////////////////////////////////////

#specification {
	background-color: $light-gray;
	padding: 10px;
	overflow: hidden;
}

nav {
	background-color: $blue;
	width: 200px;
	padding: 10px;
	float: left;
}


//////////////////////////////////////
// RESPONSIVE ////////////////////////
// Only tablets for now

@media (max-width: 767px) { 
}