//////////////////////////////////////
// VARIABLES /////////////////////////
// Author: Ariel Jatib ///////////////
//////////////////////////////////////

// Layout ////////////////////////////
$page-width: 	940px; 
$page-fluid: 	100%;
$page-narrow: 	640px;
$narrow-content:330px;

// Colors ////////////////////////////
$white: 		#fefefe;
$light-gray:	#eee;
$blue:         	#369; // there can only be one :)
$text-color:	#111;
$text-green:	#215E21; // I've always loved the name 'hunter green'
$btn-green:		#C8DEAD;
$btn-red:		red; //refactor to something better

// Typography ////////////////////////
$font-stack:	200 17px/25px Arial, Helvetica, sans-serif ;
$font-stack-heading:	Verdana, sans-serif; 
$font-size:			18px;
$font-size-heading:	25px;